
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: left;
  padding: 2px;
  box-sizing: border-box;
  background-color: transparent;
  -webkit-app-region: drag; 
  background: #000;
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
}

header button {
  all: unset;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin: 0.25rem;
  -webkit-app-region: no-drag; 
}
header div:first-child{
  display: flex;
  justify-items: center;
  align-items: center;
}

#close {
  background-color: red;
}
#minimize {
  background-color: yellow;
}
#maximize {
  background-color: green;
}
.menu {
  margin: 5px;
  display: flex;
  gap: 2rem;
}

.main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  height: 100vh;
  align-items: center;
  padding: 4rem;
}

.selectOptions{
  display: flex;
  gap: 1rem;
  grid-column: 1 / span 3;
}

.mainGrid{
  height: 120px;
  grid-column:1 / span 3 ;
}

.selectOption{
  display: block;
  padding: 0.5rem;
  gap: 1rem;
  margin: 0.5rem 0;
  width: 100%;
  background: #2c2c2c;
  cursor: pointer;
}

.selectOption:hover{
  background: #333;
}

.selectOptionTitle{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.selectOptionTitle :first-child{
  font-weight: 600;
}

.selectOptionTitle :nth-child(2){
  font-weight: 400;
  font-size: 0.8rem;
}

.selectOptionChart{
  height: 100px;
  width: 100%;
}

.detailedInfo{
  grid-row: 3;
  grid-column: 1 / span 3;
  display: flex;
  justify-content: space-between;
  position: relative;
}
span{
  font-weight: 700;
  text-transform: capitalize;
}
.detailedInfo2 {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / span 3;
  position: relative;
  flex-wrap: wrap;
}

.graphics{
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}
.loading{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
}
.network{
  grid-row: 2;
  display: flex;
  flex-wrap: wrap;
}
.network h2{
  display: block;
  width: 100%;
}
.disks{
  display: flex;
  flex-wrap: wrap;
}
.disks h2{
  width: 100%;
}